<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>[[title]]</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">
    <link href="assets/css/typeahead.css" rel="stylesheet">

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/react.min.js"></script>
    <script src="assets/js/JSXTransformer.js"></script>
    <script src="assets/js/react-bootstrap.min.js"></script>

    <script src="assets/js/Installation.js" type="text/jsx"></script>
    <script src="assets/js/InstallationList.js" type="text/jsx"></script>

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">NoSQL Workshop</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="search.html"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Recherche</a>
                </li>
                <li>
                    <a href="map.html"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Carte</a>
                </li>
                <li>
                    <a href="stats.html"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Statistiques</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="apicheckup.html"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> API checkup</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    [[body]]
</div>

</body>
</html>